.ServicesHeader{
    padding-left: auto;
    padding-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 5vw;
    color: black;
    font-weight: bold;
    font-family: Georgia, Serif;
}

#Services{
    background: #7db9e8;
    background: -moz-linear-gradient(top,  #7db9e8 0%, #7ddae7 100%);
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#7ddae7 100%);
    background: linear-gradient(to bottom,  #7db9e8 0%,#7ddae7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#7ddae7',GradientType=0 );
}

#ServicesGrid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(4, auto);
    grid-gap: 5px;
    text-align: left;
    font-size: 1.3vw;
    padding-left: 5%;
    padding-right: 5%;
}

.elementTitle{
    font-family: Georgia, Serif;
    font-size: 1.7vw;
    font-weight: bold;
    font-style: italic;
}

@media screen and (max-width: 960px){

    #ServicesGrid{
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(8, auto);
        font-size: 4vw;
    }

    .elementTitle{
        font-size: 4.7vw;
    }

}