#Price{
    background: #b5bdc8;
    background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%);
    background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
    background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );    

    padding-top: 2%;
    padding-bottom: 2%;
    padding-left:14%;
    padding-right: 14%;
    height: 350px;
}

#PriceTitle{
    text-align: center;
    font-size: 45px;
    color: #fff;
    padding-bottom: 2%;
    font-weight: bold;
}

#PriceText{
    text-align: justify;
    font-size: 22px;
    font-weight: 550;
    color: white;
}

#PriceImg{
    float:right;
    border-radius: 20px;
    margin-left: 20px;
}

#PriceImgMobile{
    display: none;
}

@media screen and (max-width: 1400px){
    #PriceText{
        text-align: justify;
        font-size:16px;
    }

    #Price{
        background: #b5bdc8;
        background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%);
        background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
        background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );    
    
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left:7%;
        padding-right: 7%;
        height: 350px;
    }
}

@media screen and (max-width: 1060px){
    #PriceText{
        text-align: justify;
        font-size:15px;
    }

    #Price{
        background: #b5bdc8;
        background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%);
        background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
        background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );    
    
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left:8%;
        padding-right: 8%;
        height: 350px;
    }
}

@media screen and (max-width: 960px){
    #PriceText{
        text-align: justify;
        font-size:16px;
    }

    #PriceImg{
        display: none;
    }

    #PriceImgMobile{
        display: block;
        margin-top: 10px;
        border-radius: 20px;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    #Price{
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left:16%;
        padding-right: 16%;
        height: 480px;
    }
}