#HIW{
    background: #7db9e8;
    background: -moz-linear-gradient(top,  #7db9e8 0%, #b5bdc8 100%);
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#b5bdc8 100%);
    background: linear-gradient(to bottom,  #7db9e8 0%,#b5bdc8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#b5bdc8',GradientType=0 );
}

#title{
    text-align: center;
    font-size: 3.5vw;
    color: #fff;
    padding-bottom: 30px;
}

#flowchartDesktop{
    background-color: darkmagenta;
    display: grid;
    grid-template-columns: 45% 10% 45%;
}

.numberNline{
    text-align: center;

}

.number{
    font-size: 18px;
    border-radius: 50%;
    background-color: darkslategray;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: auto 0;
    line-height: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    display: table-cell;
}

@media screen and (max-width: 1170px){
    .number{
        height: 40px;
    }

    #title{
        font-size: 5vw;
    }
}